.square {
  width: 15px;
  height: 15px;
  background-color: #727272;
  border: 1px black solid;
}

.isSnake {
  width: 15px;
  height: 15px;
  background-color: yellow;
  border: 1px yellow solid;
}

.isFood {
  width: 15px;
  height: 15px;
  background-color: red;
  border: 1px black solid;
}

.gridRow {
  display: flex;
  justify-content: center;
}

.gridBox {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-grow: 1;
}

.scoreBox {
  flex-grow: 1;
  padding-right: 5px;
  padding-top: 20px;
  font-weight: bold;

}

.score {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: lighter;
}

.snakeBox:focus {
  outline: none;
}

.snakeBox {
  display: flex;
  border-radius: 20px;
}
