.square {
  width: 20px;
  height: 20px;
  background-color: #3D3D3D;
  border: 1px black solid;
}

.isSnake {
  width: 20px;
  height: 20px;
  background-color: #F6AF00;
  border: 1px black solid;
}

.isFood {
  width: 20px;
  height: 20px;
  background-color: #220194;
  border: 1px black solid;
}

.gridRow {
  display: flex;
  justify-content: center;
}

.gridBox {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-grow: 1;
}

.scoreBox {
  flex-grow: 1;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.score {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: lighter;
}

.snakeBox:focus {
  outline: none;
}

.snakeBox {
  display: flex;
  border-radius: 20px;
  width: 100%;
}
