.container {
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  padding: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 60px;
  width: 100%;
  height: 70%;
  overflow:hidden;
  box-sizing: border-box;
  background-color: #0A0A0A;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #F6AF00;
  color: white;
  transition-duration: 1s;
}

.box:hover {
  transition-duration: 1s;
  box-shadow: 0px 0px 40px #F6AF00;
}

.image {
  width: 30%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 20px #1E1E1E;
  border-radius: 50%;
  background-color: #1E1E1E;
}

.notPlaying {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.hoverInstruction {
  margin-top: 10px;
  color: #3E3E3E;
  font-weight: bold;
  font-size: large;
}

.playing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.gameTitle {
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
  width: 100%;
  flex-grow: 1;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 10;
}

.instruction {
  width: 15%;
  background-color: #0A0A0A;
  box-shadow: 0px 0px 20px #1E1E1E;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  padding-top: 30px;
  overflow: scroll;
}

.instructionTitle {
  font-weight: bold;
  margin-bottom: 20px;
}
.instructionDescription {
  vertical-align: middle;
  margin-bottom: 20px;
}
.gameSpace {
  width: 70%;
  background-color: #0A0A0A;
  box-shadow: 0px 0px 20px #1E1E1E;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.controls {
  width: 60%;
  height: auto;
  margin: 5px;
  opacity: 0.7;
}

.leaderboardBox {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.leaderboardList {
  height: 80%;
  flex-grow: 6;
  background-color: black;
  margin: 30px 20px;
  border-radius: 10px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.leaderboardList:focus {
  outline: none;
}

.leaderboardScore {
  height: 80%;
  flex-grow: 1;
  margin: 30px 20px;
  margin-left: 0px;
  border-radius: 10px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.textfield {
  width: 70%;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  padding: 5px 10px;
  margin: 8px 0;
  margin-top: 30px;
  display: inline-block;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #1E1E1E;
  transition-duration: 0.5s;
  color: white;
  background-color: #1E1E1E;
}

.textfield:focus {
  outline: none;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px white;
}

.loadingImage {
  width: 30%;
  height: auto;
}

.submitButton {
  width: 70%;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #1E1E1E;
  transition-duration: 0.5s;
}

.submitButton:hover {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px white;
}

.submitButton:focus {
  outline: none;
}

.submitButtonDone {
  width: 70%;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 10px green;
}

.submitButtonDone:focus {
  outline: none;
}

@keyframes load {
  from {
    box-shadow: 0px 0px 10px #F6AF00;
  }
  
  to {
    box-shadow: 0px 0px 15px #F6AF00;
  }
}

.submitButtonLoad {
  width: 70%;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #F6AF00;
  -webkit-animation: load 1s ease-in-out infinite alternate;
  -moz-animation: load 1s ease-in-out infinite alternate;
  animation: load 1s ease-in-out infinite alternate;
}

.submitButtonLoad:focus {
  outline: none;
}

.orderedList {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-small;
  text-align: left;
  padding-left: 20px;
}

.userNameChecks {
  padding: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.leaderboardTitle {
  text-align: center;
  padding: 10px;
  font-family: fantasy;
  font-size: xx-large;
  color: lime;
}

.leaderboardListContent {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  height: 150px;
  width: 400px;
  flex-grow: 1;
  padding: 20px 30px;
  font-family: 'Courier New', Courier, monospace;
}

.leaderboardScores {
  margin: 10px 10px;
  display: flex;
  flex-flow: row wrap;
}

.filler {
  margin: 0px 3px;
}