.navBar {
  width: 100%;
  background-color: black;
  opacity: 0.3;
  position: fixed;
  text-align: center;
  transition-duration: 0.3s;
}

.navBar:hover {
  opacity: 1;
  transition-duration: 0.3s;
}